@charset "UTF-8";
/* CSS Document */


/* END GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* END GOOGLE FONTS */


/* START CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea:focus, input:focus{
    outline: none;
}

/* END CSS RESET */

body
{
	background:#333333;
	/*font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;*/
	font-family: 'Montserrat script=all rev=1', sans-serif;
	font-size:1.2em;
	line-height: 1.3em;
	cursor:default;
	font-weight: 300;
}

/* MAIN CONTAINER */
#appContainer
{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100vh;
	overflow:hidden;
}

/* BRANDING */
#brandingContainer
{
	position:absolute;
	margin:0 auto;
    top: 40px;
    left: 3%;
	width:auto;
	height:auto;
	z-index:100;
	opacity:0;
}

.brandingIcon
{
	position:relative;
	display:inline-block;
	margin:0 auto;
	top:3px;
	left:0;
	width:30px;
	height:20px;
	background-color:#ffffff;
	-webkit-mask:url(img/tomato.svg) no-repeat;
	mask:url(img/tomato.svg) no-repeat;
}

.brandingText
{
	position:relative;
	display:inline-block;
	margin:0 auto;
	top:0;
	left:0;
	width:auto;
	height:auto;
	color:#ffffff;
	font-weight:bold;
}

/* BKGND CONTAINER */
#bkgnd
{
	position:absolute;
	margin:0 auto;
	width:100%;
	height:100vh;
	background-color:#ff0000;
	opacity:0;
}

/* START SCREEN */
#startScreenContainer
{
	position:absolute;
	margin:0 auto;
	width:100%;
	height:auto;
	top:0;
	z-index:10;
}

.startScreenBlurbMain
{
	position:relative;
	margin:0 auto;
	top:130px;
	width:auto;
	height:auto;
	text-align:center;
	color:#ffffff;
	font-size:2em;
	opacity:0;
}

.startScreenBlurbSub
{
	position:relative;
	margin:0 auto;
	top:150px;
	width:auto;
	height:auto;
	text-align:center;
	color:#ffffff;
	font-size:1.1em;
	opacity:0;
}

/* INPUT PROMPT */
#taskPromptContainer
{
	position:relative;
	margin:0 auto;
	top:230px;
	width:auto;
	height:auto;
	max-width:400px;
	padding-bottom:10px;
	border-bottom:1px solid #ffffff;
	opacity:0;
	z-index:36;
}

#inputFieldContainer
{
	position:relative;
	margin:0 auto;
	width:auto;
	height:auto;
	max-width:350px;
	left:-25px;
	opacity:1;
}

#inputField
{
	position:relative;
	margin:0 auto;
	width:350px;
	height:auto;
	font-size:1.1em;
	color:#ffffff;
	background:transparent;
	border:0;
	opacity:.5;
	/*font-family:inherit;
	resize:none;*/
}

#inputField:focus
{
	opacity:1;
}

/* BUTTONS */
.arrowBtn
{
	position:absolute;
	margin:0 auto;
	width:30px;
	height:30px;
	right:0;
	top:auto;
	bottom:10px;
	background-image:url(img/arrowBtn.png);
	opacity:0;
}

/* this appended ruleSet MUST come *after* the *above* main ruleSet */
/* it won't work if it *precedes* the main ruleSet */
.continueBtn
{
	width:100px;
	height:100px;
    left: 45%;
    top: 130px;
	background-image:url(img/arrowBtnLG.png);
    right: inherit;	
}

/* this appended ruleSet MUST come *after* the *above* main ruleSet */
/* it won't work if it *precedes* the main ruleSet */
.restartBtn
{
	width:30px;
	height:30px;
	left:0px;
	top:0px;
	background-image:url(img/restartBtn.png);
	background-size: 30px 30px;
}

.longRestBtn
{
	position:absolute;
	margin:0 auto;
	width:130px;
	height:90px;
	padding-top:40px;
	top:130px;
	left:46%;
	border-radius:50%;
	color:#00b8ff;
	text-align:center;
	background-color:#ffffff;
	opacity:0;
}

.longRestBtnSmallText
{
	font-size:1em;
}

.longRestBtnLargeText
{
	font-size:2em;
}

/* CYCLE SCREEN */
#cycleContainer
{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100vh;
	z-index:5;
	opacity:1;
}

.cycleBlurbMainWindowBox
{
	position:relative;
	margin:0 auto;
	top:100px;
	width:auto;
	height:1.9em;
	z-index:10;
	/*overflow:hidden;*/
}

.cycleBlurbMain
{
	position:relative;
	display:block;
	margin:0 auto;
	top:1.4em;  /* changed for ANIM BUG, was 0 */
	margin-top:-1.4em; /* added for ANIM BUG */
	width:auto;
	height:1.3em;
	text-align:center;
	color:#d4d4d4;
	font-size:1.5em;
	opacity:0;  /* added for ANIM BUG */
}

.cycleBlurbTaskWindowBox
{
	position:relative;
	margin:0 auto;
	top:160px;
	width:auto;
	height:4em;
	z-index:11;
	/*overflow:hidden;*/
}

.cycleBlurbTask
{
	position:relative;
	margin:0 auto;
	top:1.3em;  /* changed for ANIM BUG, was 0 */
	margin-top:-1.3em; /* added for ANIM BUG */
	width:auto;
	height:1.2em;
	text-align:center;
	color:#9b9b9b;
	font-size:2.5em;
	opacity:0;  /* added for ANIM BUG */
}

/* CLOCK */
#clockContainer
{
	position:relative;
	margin:0 auto;
	top:300px;
	width:auto;
	height:9em;
	/*overflow:hidden;*/
	opacity:1;
	z-index:15;
}

.timeDisplay
{
	position:relative;
	margin:0 auto;
	top:0;
	width:auto;
	height:9.5em;
	text-align:center;
	color:#ff0000;
	font-size:13em;
	opacity:1;
	font-weight: 100;
}

/* STATUS BAR (DOTS) */
#statusBarContainer
{
	position:relative;
	margin:0 auto;
    top: 400px;
	width:150px;
	height:auto;
	text-align:center;
	color:#ffffff;
	list-style-type:none;
	opacity:1;
	z-index:20;
}

.statusDot
{
	position:relative;
	display:inline-block;
	margin:0 auto;
	margin-right:10px;
	left:0;
	width:15px;
	height:15px;
	/*background-color:rgba(255,0,0,0);*/
	border:solid 3px;
	border-color:#ff0000;
	border-radius:50%;
	opacity:.5;
}

.statusDotFill
{
	position:absolute;
	margin:0 auto;
	top:-1px;
	left:-1px;
	width:17px;
	height:17px;
	background-color:#ff0000;
	border-radius:50%;
	opacity:0;
}

/* SVG FIELD */
#svgFieldContainer
{
	position:absolute;
	margin:0 auto;
	top:0;
	width:100%;
	height:100vh;
	z-index:0;
	opacity:0;
}

/* SVG CLOUDS */
.cloud
{
	position:absolute;
	/*margin:0 auto;*/
	background-image:url(img/clouds.svg);
    fill: white;
    opacity: 0.35;
}

.cloud1
{
    width: 1200px;
    height: 600px;
    bottom: -250px;
    right: -350px;
    background-size: 1200px 600px;
	fill: white;
	/*-ms-transform:rotate(-70deg);
	-webkit-transform:rotate(-70deg);
	transform:rotate(-70deg);*/
}

.cloud2
{
    width: 800px;
    height: 500px;
    bottom: -200px;
    left: -250px;
    background-size: 800px 500px;
	fill: white;

}

.cloud3
{
	display: none;
	width: 500px;
	height: 300px;
	top:100px;
	left:300px;
	background-size: 500px 300px;
	/*-ms-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	transform:rotate(30deg);*/
}

/* SVG STARS */
.star
{
	position:absolute;
	margin:0 auto;
	background-image:url(img/star.svg);
	opacity: 0.25;
}

.star1
{
	width: 100px;
	height: 200px;
	top: 20px;
	left: 50%;
	background-size: 100px 200px;
	-ms-transform:rotate(-70deg);
	-webkit-transform:rotate(-70deg);
	transform:rotate(-70deg);
}

.star2
{
	width: 500px;
	height: 600px;
	top:0;
	left: 1%;
	background-size: 500px 600px;
}

.star3
{
	width: 400px;
	height: 500px;
	top:400px;
	left: 20%;
	background-size: 400px 500px;
	-ms-transform:rotate(100deg);
	-webkit-transform:rotate(100deg);
	transform:rotate(100deg);
}

.star4
{
    width: 700px;
    height: 800px;
    top: 70px;
    left: 50%;
    background-size: 700px 800px;
    -ms-transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
}

/* RESETTER/RESTART */
#resetterContainer
{
	position:absolute;
	margin:0 auto;
	width:30px;
	height:30px;
	right: 3%;
    top: 80px;
	opacity:0;
	z-index:50;
}

#restartBtnBkgnd
{
	position:absolute;
	margin:0 auto;
	width:30px;
	height:30px;
	left:-1px;
	top:-1px;
	border-radius:50%;
	border:2px solid #ff0000;
	background-image:url(img/restartBtnBkgnd.png);
	background-size: 30px 30px;
	opacity:.5;
}